@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");

.SliderFormat {
  display: flex;
  width:inherit;
}
.EmailConfirm {
  background-color: #FD5A1E;
  width: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EmailConfirm h1 {
  width: 400px;
}
.RadioBox p {
  display: inline;
}
.RadioBox {
  display: flex;
  flex-direction: column;
  margin: 2vh;
}

input::placeholder {
  color: white;
}

.label {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: .8em;
  /*margin-right: 1.15em;*/
  padding-bottom: 1.5em;
}

.labelFont {
  font-size: 1em !important;
}

.textField {
  background-color: rgba(253,90,30,1);
  opacity: .5;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  width: 90%;
  height: 1.5em;
  border-radius: 5px;
  align-items: flex-start;
}
.radio {
	width : 1.5em;
	height :1.5em;
	padding: 5px;
	margin: 5px;
}

textarea {
  width: 90%;
  min-width: 14em;
  min-height: 7em;
  padding: 3px;
  overflow:scroll;
}

.contactUs {
  overflow: hidden;
  font-size: 1.5em;
  align-self: flex-end;
  padding: 5%;
}

.contactUs h4 {
  margin: 0 0 5% 0;
  font-size: 1.5em;
  overflow: hidden;
  width: 250px;
}

.contactUs p {
  width: 250px;
}
.contactUs div {
  width: 400px;
}
.ContactForm div {
  width: 400px;
}

.ContactForm {
  display: flex;
  flex-direction: column;
}

.submitBtn {
  width: 50%;
  height: 20%;
}
