@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
.contactContainer {
  display: flex;
  flex-direction: column;
}

.contactHeader {
    padding: .3em;
    font-size:5em;
    width: 100%;
    background-color: #FD5A1E;
    color: white;
    text-shadow: 2px 2px 5px #000000;
  }

.contactMain {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  /*background-image: url('../img/GRIT_construction_site.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contactContent {
  display: flex;
  flex-direction: row;
  background: rgba(255,255,255,.75);
  width: 50%;
  margin: 5% 10% 10% 10%;
  color: #000;
  align-items:center;
  justify-content: space-between;
}

.contactFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4%;
}

.contactFlex h4 {
  padding-top: 5%;
}

h4 {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #000 !important;
  font-size: 2.5em;
  justify-content: space-around;
  margin: 5%;
  /*text-overflow: ellipsis;*/
  /*overflow: hidden;*/
}

  a {
    color: #000;
    text-decoration: none;
  }

 a:hover {
  color: #CCC;
}

 a:active {
    color: #CCC;
  }

  /* <<<<<<<<<<<<<<<<<<<<<<<<<<< 700 px and smaller styles >>>>>>>>>>>>>>>>>>>>>>>>> */
  @media (max-width: 849px) and (min-width:300px) {

    .contactContent {
      flex-direction: column;
      width: 90% !important;
    }
  }

  /* <<<<<<<<<<<<<<<<<<<<<<<<<<< 850 px and smaller styles >>>>>>>>>>>>>>>>>>>>>>>>> */
  @media screen and (max-width: 850px) {

    .contactContent {
      flex-direction: column;
      width: 70%;
    }
  }

  /* <<<<<<<<<<<<<<<<<<<<<<<<<<< 1450 px and smaller styles >>>>>>>>>>>>>>>>>>>>>>>>> */
  @media (max-width: 1450px) and (min-width:851px) {

    .contactContent {
      flex-direction: column;
      width: 55%;
      margin: .5em;
    }
  }


  /* <<<<<<<<<<<<<<<<<<<<<<<<<<< 1451 px and bigger styles >>>>>>>>>>>>>>>>>>>>>>>>> */
  @media screen and (min-width: 1451px) {

    .contactContent {
      width: 55%;
    }

  }
