
html, body {
  height: 100%;
  font-family: Helvetica;
}
header.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  flex: 0 0 20px;
  padding: 0px;
}

.row1 {

}
