


.flexWrapper {
  display: flex;
  height: 82%;
}
@media (max-width: 1450px) and (min-width:851px) {
.orange {

}
}


.tags {
  background-color:#800040;
  margin:0;
  padding:20px;
  height: 25%;
  width:100%;
  font-family: 'Indie Flower', cursive;
  font-family: 'Sacramento', cursive;
  color:white;

}

/*@media screen and (max-width: 520px) {
}
@media screen and (max-width: 360px) {
}*/
