.orange {
  background-color: #800040;
  margin:0;
  font-size: 3em;
}

.introdudction h1 {
  padding: 20px;
  font-size:3em;
}
@media (max-width: 1450px) and (min-width:851px) {
.bio {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  }
 }

 .bio-text {
   font-size: 1em;
   color: black;
 }
