.orange {
  background-color: #800040;
  margin:0;
}

.introdudction h1 {
  padding: 20px;
  font-size:3em;
}


.bio {
  display:flex;
  flex-direction: column;
  text-align: center;
  /*font-size: 2vw;*/
  z-index:50;
  height:59vh;
  width: 50%;
  margin:0;
  justify-content: flex-end;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

 .bio-text {
   font-size: 1em;
   color: black;
 }
