.orange {
  background-color: #800040;
  margin:0;
  font-size: 3em;
}

.introdudction h1 {
  padding: 20px;
  font-size:3em;
}
@media screen and (max-width: 1150px) {
.bio {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  }
 }
@media screen and (max-width: 950px) {
 .bio-text {
   font-size: 1em;
   flex-wrap: wrap;
   color: black;
 }
}
