html, body {
  margin: 0 auto;
}
* {
  font-family: arial, sans-serif;
}

.headerImg {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/28/15/30/barn-2689965__340.jpg);
  z-index:50;
  height:100vh;
  width: 100%;
  margin:0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
  z-index: 100;
  text-align: center;
  color:white;
}

h2 {
  font-size: 2.5em;
  margin: 0;
  padding-bottom: 1em;
  text-shadow: 2px 2px 3px #000000;
}

.grit {
  color: white;
  font-size: 12em;
  text-shadow: 2px 2px 3px #000000;
  margin: 0 auto;
}

.orange {
  background-color: #ffe680;
  margin:0;
  text-shadow: 2px 2px 5px #000000;
}

.yellow {
  background-color: #f69d00;
}




/home/osboxes/Dropbox/20110111_0879 (copy).jpg alt="single square"
/home/osboxes/Dropbox/20110111_0881 (copy).jpg alt = "single square with flowers"
/home/osboxes/Dropbox/20110129_1031.jpg alt = "single pink flower"
/home/osboxes/Dropbox/20130417_0284 (copy).jpg alt = "single square, light green"
/home/osboxes/Dropbox/20150216_1069 (copy).jpg alt = "large square"
/home/osboxes/Dropbox/20150216_1070 (copy).jpg alt = "large square with sun shape"
/home/osboxes/Dropbox/20150217_1074.jpg alt = "star"
/home/osboxes/Dropbox/20151022_1484_edited-1 (copy).jpg alt = "ants"
/home/osboxes/Dropbox/20151119_1523 (copy).jpg alt = "cats"
/home/osboxes/Dropbox/20160118_1616_edited-1.jpg alt = "purple square"
/home/osboxes/Dropbox/20160118_1622_edited-1 (copy).jpg alt = "close up purple square"
/home/osboxes/Dropbox/20170308_0007 (copy).jpg alt = "full bird quilt"
/home/osboxes/Dropbox/20170505_2148_edited-1.jpg alt = "section of bird quilt"
/home/osboxes/Dropbox/20170505_2149.jpg alt = "butterfly"
/home/osboxes/Dropbox/20170505_2150_edited-1.jpg alt = "yellow butterfly"
/home/osboxes/Dropbox/20170505_2153_edited-1.jpg alt = "blue butterfly"
/home/osboxes/Dropbox/Becky Wilcox_0013 photo shop - soft oval 1.jpg alt = "becky"
/home/osboxes/Dropbox/IMG_0007.jpg alt = "single green square"
/home/osboxes/Dropbox/P5170030.jpg alt = "mallard"
/home/osboxes/Dropbox/P5170034.jpg alt = "loons"
/home/osboxes/Dropbox/P5170038.jpg alt = "upright swan"
/home/osboxes/Dropbox/P5170042.jpg alt = "flying swan"
/home/osboxes/Dropbox/P5170044.jpg alt = "birds on catails"
