html, body {
  margin: 0 auto;
}
* {
  font-family:serif, monospace;
}

.headerImg {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/28/15/30/barn-2689965__340.jpg);
  z-index:50;
  height:100vh;
  width: 100%;
  margin:0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

 h1, h2 {
  z-index: 100;
  text-align: center;
  color:white;

}

.header {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom: 1.5em;
}

.extend {
  font-size: 2em;
  margin: 0;
  /*padding-bottom: .5em;*/
  text-shadow: 2px 2px 3px #000000;

}

.quilt {
  color: white;
  font-size: 7em;
  text-shadow: 2px 2px 3px #000000;
  margin: 0 auto;
  padding-bottom:1.5em;

}

.orange {
  background-color: #ffe680;
  margin:0;
  text-shadow: 2px 2px 5px #000000;
}

/*.yellow {
  background-color: #f69d00;
}*/
