.orange {
  background-color: #800040;
  margin:0;
  width:100%;
  align-content: center;
  padding-top:35px;

}

/*.testimonials h1 {

  padding: 20px;
  font-size:3em;
}*/
@media screen and (max-width: 950px) {
.talk {

  text-align: center;


 }
.talk{
  width:70%;

}

}
 .talk1{
    background-image:URL('https://cdn.pixabay.com/photo/2017/07/24/19/47/background-2535847__340.jpg');
    font-size: 1.5em;
    margin-left:15%;
    margin-right:15%;
 }

 .talk2 {
  background-image:URL('https://cdn.pixabay.com/photo/2017/07/24/19/47/background-2535847__340.jpg');
  font-size: 1.5em;
  margin-left:15%;
  margin-right:15%;
 }
 .talk3 {
   background-image:URL('https://cdn.pixabay.com/photo/2017/07/24/19/47/background-2535847__340.jpg');
   font-size: 1.5em;
   margin-left:15%;
   margin-right:15%; 
 }
