.orange {
  background-color: #800040;
  margin:0;
  width:75%;
  align-content: center;
  padding-top:35px;
}

.testimonials h1 {

  padding: 20px;
  font-size:3em;
}
@media screen and (max-width: 950px) {
.talk {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;


 }

 .talk-text {
   font-size: 1em;
   color: black;
 }
}
