.orange {
  background-color: #800040;
  margin:0;
  width:100%;
  align-content: center;
  padding-top:35px;
}

.creativity h1 {

  padding: 20px;
  font-size:3em;
}

/*.tips {

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;


 }*/
@media screen and (max-width: 950px) {
 .tips-text {
   font-size: 1em;
   color: black;
 }
}
.tips-text {
  background-image:URL('https://cdn.pixabay.com/photo/2017/07/24/19/47/background-2535847__340.jpg');
  opacity: 5;
  z-index:2;
  align-content: center;
  width:75%;
  list-style-type: none;
  text-align: center;
}
