.orange {
  background-color: #800040;
  margin:0;
  padding-top:35px;
}

.creativity h1 {

  padding: 20px;
  font-size:3em;
}

.tips {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;


 }
@media screen and (max-width: 950px) {
 .tips-text {
   font-size: 1em;
   color: black;
 }
}
